.column-left {
  float: left;
  width: 45%; 
  text-align: left;
}

.column-right {
  float: right;
  width: 45%; 
  text-align: left;
}

.row {
  content: "";
  display: table;
  clear: both;
  width: 65%;
  margin: auto;
}

.button {
  background-color: white; 
  color: #B7B5B5; 
  font-weight: bold;
  border: 2px solid #B7B5B5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  width: 200px;
  text-decoration: none;
}

.button:hover {
  background-color: black; 
  color: white;
  border: 2px solid black;
}

.brown-text {
  color: #B7B5B5; 
}

.center-text {
  width: 65%; 
  margin: auto;
}

#progressbar1 {
  background-color: #B7B5B5; 
  border-radius: 13px; 
  padding: 3px; 
}

#progressbar1>div {
  background-color: #E7E7E7; 
  width: 80%;
  height: 10px; 
  border-radius: 15px;
}

#progressbar2 {
  background-color: #B7B5B5; 
  border-radius: 13px; 
  padding: 3px; 
}

#progressbar2>div {
  background-color: #E7E7E7; 
  width: 60%;
  height: 10px; 
  border-radius: 15px;
}

#progressbar3 {
  background-color: #B7B5B5; 
  border-radius: 13px; 
  padding: 3px; 
}

#progressbar3>div {
  background-color: #E7E7E7; 
  width: 90%;
  height: 10px; 
  border-radius: 15px;
}

#progressbar4 {
  background-color: #B7B5B5; 
  border-radius: 13px; 
  padding: 3px; 
}

#progressbar4>div {
  background-color: #E7E7E7; 
  width: 88%;
  height: 10px; 
  border-radius: 15px;
}

#progressbar5 {
  background-color: #B7B5B5; 
  border-radius: 13px; 
  padding: 3px; 
}

#progressbar5>div {
  background-color: #E7E7E7; 
  width: 75%;
  height: 10px; 
  border-radius: 15px;
}

.work-badge {
  width: 100%;
}

.badge-header {
  color: #B7B5B5; 
  text-align: center;
}

.badge-text {
  text-align: center;
}